// Created on 2020-02-13 00:42:57 by sonack compiler.
function Main.main 3
push constant 2
pop local 0
push constant 3
pop local 1
push local 0
push local 1
call Math.multiply 2
pop local 2
push constant 1
neg
push local 2
add
call Output.printInt 1
pop temp 0
push constant 0
return
