// Created on 2020-02-18 01:19:57 by sonack compiler.
function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 2
push constant 16384
pop static 3
push static 2
pop static 1
push constant 0
pop static 5
push constant 1
pop static 4
push constant 1
neg
pop static 6
push static 2
push static 4
add
push static 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 2
push static 5
add
push static 3
push static 2
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push static 0
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 6
push static 1
pop local 0
push constant 0
pop local 3
label Memory.alloc.WHILE_0.START
push local 0
push static 3
eq
not
push local 3
not
and
not
if-goto Memory.alloc.WHILE_0.CONT
push local 0
push static 5
add
pop pointer 1
push that 0
pop local 4
push argument 0
push constant 2
add
pop local 5
push local 4
push local 5
lt
not
not
if-goto Memory.alloc.IF_0.F_CASE
push local 0
push local 5
add
pop local 2
push local 2
push static 5
add
push local 4
push local 5
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 4
add
push local 0
push static 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push static 4
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push static 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
add
pop local 1
push constant 1
neg
pop local 3
push local 0
push static 1
eq
not
if-goto Memory.alloc.IF_1.F_CASE
push local 0
push static 4
add
pop pointer 1
push that 0
pop static 1
goto Memory.alloc.IF_1.CONT
label Memory.alloc.IF_1.F_CASE
label Memory.alloc.IF_1.CONT
goto Memory.alloc.IF_0.CONT
label Memory.alloc.IF_0.F_CASE
label Memory.alloc.IF_0.CONT
push local 0
push static 4
add
pop pointer 1
push that 0
pop local 0
goto Memory.alloc.WHILE_0.START
label Memory.alloc.WHILE_0.CONT
push local 3
not
not
if-goto Memory.alloc.IF_2.F_CASE
push static 6
not
not
if-goto Memory.alloc.IF_3.F_CASE
call Memory.deFrag 0
pop temp 0
push argument 0
call Memory.alloc 1
return
goto Memory.alloc.IF_3.CONT
label Memory.alloc.IF_3.F_CASE
push local 3
call Output.printInt 1
pop temp 0
label Memory.alloc.IF_3.CONT
goto Memory.alloc.IF_2.CONT
label Memory.alloc.IF_2.F_CASE
label Memory.alloc.IF_2.CONT
push local 1
return
function Memory.deAlloc 2
push constant 0
pop static 6
push argument 0
push constant 2
sub
pop local 0
push local 0
push static 5
add
push local 0
push static 4
add
pop pointer 1
push that 0
push argument 0
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push static 1
lt
not
if-goto Memory.deAlloc.IF_0.F_CASE
push local 0
pop static 1
goto Memory.deAlloc.IF_0.CONT
label Memory.deAlloc.IF_0.F_CASE
label Memory.deAlloc.IF_0.CONT
call Memory.deFrag 0
pop temp 0
push constant 0
return
function Memory.deFrag 3
push constant 1
neg
pop static 6
push static 1
pop local 0
push static 1
pop local 1
label Memory.deFrag.WHILE_0.START
push local 0
push static 3
eq
not
not
if-goto Memory.deFrag.WHILE_0.CONT
label Memory.deFrag.WHILE_1.START
push local 0
push static 3
eq
not
push local 0
push static 4
add
pop pointer 1
push that 0
push local 0
eq
push constant 2
add
push local 0
push static 5
add
pop pointer 1
push that 0
push constant 0
gt
or
and
not
if-goto Memory.deFrag.WHILE_1.CONT
push local 0
push static 4
add
pop pointer 1
push that 0
pop local 0
goto Memory.deFrag.WHILE_1.START
label Memory.deFrag.WHILE_1.CONT
push local 0
pop local 2
push local 2
push local 1
push static 4
add
pop pointer 1
push that 0
gt
not
if-goto Memory.deFrag.IF_0.F_CASE
push local 1
push static 4
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push static 5
add
push local 2
push local 1
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto Memory.deFrag.IF_0.CONT
label Memory.deFrag.IF_0.F_CASE
label Memory.deFrag.IF_0.CONT
label Memory.deFrag.WHILE_2.START
push local 0
push static 3
eq
not
push local 0
push static 4
add
pop pointer 1
push that 0
push local 0
push constant 2
add
gt
push local 0
push static 5
add
pop pointer 1
push that 0
push constant 0
eq
and
and
not
if-goto Memory.deFrag.WHILE_2.CONT
push local 0
push static 4
add
pop pointer 1
push that 0
pop local 0
goto Memory.deFrag.WHILE_2.START
label Memory.deFrag.WHILE_2.CONT
push local 0
pop local 1
goto Memory.deFrag.WHILE_0.START
label Memory.deFrag.WHILE_0.CONT
push constant 0
return
function Memory.inspect 1
push static 1
pop local 0
push constant 9
call String.new 1
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
call Output.printString 1
pop temp 0
label Memory.inspect.WHILE_0.START
push local 0
push static 3
eq
not
not
if-goto Memory.inspect.WHILE_0.CONT
push local 0
call Output.printInt 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push local 0
push static 5
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push local 0
push static 4
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push static 4
add
pop pointer 1
push that 0
pop local 0
goto Memory.inspect.WHILE_0.START
label Memory.inspect.WHILE_0.CONT
push constant 9
call String.new 1
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 61
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
