// Created on 2020-02-16 00:32:47 by sonack compiler.
function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label Sys.halt.WHILE_0.START
push constant 1
neg
not
if-goto Sys.halt.WHILE_0.CONT
goto Sys.halt.WHILE_0.START
label Sys.halt.WHILE_0.CONT
push constant 0
return
function Sys.wait 1
push argument 0
push constant 0
lt
not
if-goto Sys.wait.IF_0.F_CASE
push constant 1
call Sys.error 1
pop temp 0
goto Sys.wait.IF_0.CONT
label Sys.wait.IF_0.F_CASE
label Sys.wait.IF_0.CONT
label Sys.wait.WHILE_0.START
push argument 0
push constant 0
gt
not
if-goto Sys.wait.WHILE_0.CONT
push constant 100
pop local 0
label Sys.wait.WHILE_1.START
push local 0
push constant 0
gt
not
if-goto Sys.wait.WHILE_1.CONT
push local 0
push constant 1
sub
pop local 0
goto Sys.wait.WHILE_1.START
label Sys.wait.WHILE_1.CONT
push argument 0
push constant 1
sub
pop argument 0
goto Sys.wait.WHILE_0.START
label Sys.wait.WHILE_0.CONT
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
